<body>
    <h1>! Opps Internal Server Error </h1>
   
   <div style="width: 65%;float: left;display: inline-block;">
       <h1><%= message %></h1>
       <h2><%= error.status %></h2>
       <pre><%= error.stack %></pre>
   </div>
   
   
   <div style="width: 35%;float: left;display: inline-block;text-align:right;padding-top:50px;">
       <img src="../img/error2.jpg">
   </div>
   
   </body>